html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
}

h1 {
	font-size: 29px;
	line-height: 34px;
	text-transform: uppercase;
	color: #264061;
	text-align: center;
	margin: 0 0 22px 0;
}

h2 {
	font-size: 23px;
	color: #264061;
	border-bottom: 1px solid #376193;
	line-height: 27px;
	margin-bottom: 12px;
}

p,
li {
	font-size: 14px;
	line-height: 1.5;
	color: #000000;
}

a {
	text-decoration: none;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
.visually_hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.container {
	display: grid;
	width: 992px;
	grid-template-columns: 1fr 1fr;
	width: 992px;
	margin: 0 auto;
	border: 1px solid #d3d3d3;
}

.box-scroll {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	li {
		flex: 1 1 40%;
	}
}

.container_left_colum {
	border-top: 40px solid #376193;
	border-bottom: 40px solid transparent;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.container_right_colum {
	border-top: 40px solid transparent;
	border-bottom: 40px solid #264061;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.container_right_colum > .box:not(:last-child) {
	margin-bottom: 12px;
}

.container_left_colum > .box {
	margin-bottom: 12px;
}

svg {
	transform: translateY(3px);
}

.mail {
	transform: translateY(5px);
}

img {
	width: 240px;
	height: 240px;
	object-fit: cover;
	border-radius: 50%;
}

.photo {
	text-align: center;
}

.box-singl {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
li {
	line-height: 1.2;
	padding-left: 8px;
}

.name-project {
	font-weight: 700;
	padding: 0;
	margin-bottom: 4px;
}

.location {
	padding: 0;
}
.special {
	font-size: 24px;
	text-transform: lowercase;
}
.responsive {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 12px;
	margin-top: 12px;
	padding-left: 18px;
	li {
		list-style: inside;
	}
}
.project-link {
	display: block;
	font-size: 14px;
	line-height: 1.5;
	color: #000000;
	font-style: italic;
	margin-bottom: 4px;
	padding-left: 18px;
}
